body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 10px;
}

.container {
  background-color: #fff;
  /* background-image: url("ethioteleLogo.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: fit-content;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  color: #7dc11f;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
}

button {
  background-color: #7dc11f;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6ba41b;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#signupForm {
  margin-bottom: 5rem;
}

.submit-button {
  margin-top: 2rem;
}
